# <font color="Red"><h3 align="center">Table of Contents</h3></font>

1. Introduction and Installation 
2. DataFrame Basics 
3. Read Write Excel CSV File
4. Different Ways Of Creating DataFrame
5. Handle Missing Data: fillna, dropna, interpolate
6. Handle Missing Data: replace function
7. Concat Dataframes
8. Pivot table
9. Pandas Crosstab

# <font color="Blue"><h3 align="center">1.Introduction and Installation</h3></font>

In [ ]:
from IPython.display import Image
Image(filename='pandas.png')

> [Pandas](https://pandas.pydata.org/pandas-docs/stable/) is the typical tool a data scientist grabs first. It is based around a lot of the [NumPy package](https://docs.scipy.org/doc/numpy/reference/) so a familiarity with NumPy will help understand how to use Pandas. However, Pandas has a lot of specific extras that can be very useful to a data scientist!
> 
>Pandas is also a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license.

In [ ]:
!pip install pandas

# <font color="Green"><h3 align="center">2.DataFrame Basics</h3></font>

> Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet

In [ ]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

In [ ]:
df.shape # rows, columns shape

## <font color='blue'>Rows</font>

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df[1:3]

## <font color='blue'>Columns</font>

In [ ]:
df.columns

In [ ]:
df['day']

In [ ]:
type(df['day'])

In [ ]:
df[['day','temperature']]

## <font color='blue'>Operations On DataFrame</font>

In [ ]:
df['temperature'].max()

In [ ]:
df.temperature.max()

In [ ]:
df[df['temperature']>32]

In [ ]:
df['day'][df['temperature'] == df['temperature'].max()] # doing SQL in pandas

In [ ]:
df[df['temperature'] == df['temperature'].max()] #  doing SQL in pandas

In [ ]:
df['temperature'].std()

In [ ]:
df['event'].max() # But mean() won't work since data type is string

In [ ]:
df.describe()

## <font color='blue'>set_index</font>

In [ ]:
df.set_index('day')

In [ ]:
df.set_index('day', inplace=True)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.loc['1/6/2017']

In [ ]:
df.reset_index(inplace=True)
df.head()

In [ ]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

In [ ]:
df.loc['Snow']

In [ ]:
df.reset_index(inplace=True)
df.head()

# <font color="TEAL"><h3 align="center">3.Read Write Excle CSV File</h3></font>

### <font color="blue">Write to CSV</color>

In [ ]:
df.to_csv("new.csv", index=False)

### <font color="blue">Read CSV</color>

In [ ]:
df = pd.read_csv("new.csv")
df

In [ ]:
df = pd.read_csv("new.csv", header=None, names = ["ticker","eps","revenue","people"])
df

In [ ]:
df = pd.read_csv("new.csv",  nrows=5)
df

In [ ]:
df.head(2)

### <font color="blue">Write to Excel</color>

In [ ]:
df.to_excel("new.xlsx", sheet_name="weather", index=False, startrow=2)

In [ ]:
df = pd.read_excel("new.xlsx",'weather')
df

In [ ]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [ ]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")

### <font color="blue">Read  Excel</color>

In [ ]:
df = pd.read_excel("new.xlsx","weather")
df

Excel data replace using **function**

In [ ]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 50
    return cell
    
df = pd.read_excel("new.xlsx","weather", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell
    })
df

### <font color="blue">Write to JSON</color>

In [ ]:
df.to_json('new.json')

### <font color="blue">Read JSON</color>

In [ ]:
weather_df = pd.read_json('new.json')
weather_df.head()

# <font color="purple"><h3 align="center">4.Different Ways Of Creating Dataframe</h3></font>

## <font color="green">Using csv</h3></font>

In [ ]:
df = pd.read_csv("weather_data.csv")
df

## <font color="green">Using excel</h3></font>

In [ ]:
df=pd.read_excel("new.xlsx","weather")
df

## <font color="green">Using dictionary</h3></font>

In [ ]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

## <font color="green">Using tuples list</h3></font>

In [ ]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

## <font color="green">Using list of dictionaries</h3></font>

In [ ]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

## <font color="green">Using JSON</h3></font>

In [ ]:
df.to_json('weather_data.json')

In [ ]:
weather_df = pd.read_json('weather_data.json')
weather_df.head()

## <font color="maroon"><h4 align="center">5.Handling Missing Data - fillna, interpolate, dropna</font>

In [ ]:
import pandas as pd
df = pd.read_csv("weather_data.csv",parse_dates=['day'])
type(df.day[0])
df

In [ ]:
df.isnull().sum()

In [ ]:
df.set_index('day',inplace=True)
df

## <font color="blue">fillna</font>
<font color="purple">**Fill all NaN with one specific value**</font>

In [ ]:
new_df = df.fillna(0)
new_df

<font color="purple">**Fill na using column names and dict**</font>

In [ ]:
new_df = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'No Event'
    })
new_df

<font color="purple">**Use method to determine how to fill na values**</font>

In [ ]:
new_df = df.fillna(method="ffill")
new_df

In [ ]:
new_df = df.fillna(method="bfill")
new_df

<font color="purple">**Use of axis**</font>

In [ ]:
new_df = df.fillna(method="bfill", axis="columns") # axis is either "index" or "columns"
new_df

<font color="purple">**limit parameter**</font>

In [ ]:
new_df = df.fillna(method="ffill",limit=1)
new_df

### <font color="blue">interpolate</font>

In [ ]:
new_df = df.interpolate()
new_df

### <font color="blue">dropna</font>

In [ ]:
new_df = df.dropna()
new_df

In [ ]:
new_df = df.dropna(how='all')
new_df

### <font color="blue">Inserting Missing Dates</font>

In [ ]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df = df.reindex(idx)
df

## <font color="NAVY"><h4 align="center">6.Handling Missing Data - replace method</font>

**Replacing single value**

In [ ]:
import numpy as np
new_df = df.replace(-99999, value = np.NaN)
new_df

**Replacing per column**

In [ ]:
new_df = df.replace({
        'temperature': -99999,
        'windspeed': -99999,
        'event': '0'
    }, np.nan)
new_df

**Replacing by using mapping**

In [ ]:
new_df = df.replace({
        -99999: np.nan,
        'no event': 'Sunny',
    })
new_df

**Replacing list with another list**

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df

In [ ]:
df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])

# <font color="purple"><h3 align="center">7.Pandas Concatenate</h3></font>

## <font color='blue'>Basic Concatenation</font>

In [ ]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

In [ ]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

In [ ]:
df = pd.concat([india_weather, us_weather])
df

## <font color='blue'>Ignore Index</font>

In [ ]:
df = pd.concat([india_weather, us_weather], ignore_index=True)
df

## <font color='blue'>Concatenation And Keys</font>

In [ ]:
df = pd.concat([india_weather, us_weather], keys=["india", "us"])
df

In [ ]:
df.loc["us"]

In [ ]:
df.loc["india"]

## <font color='blue'>Concatenation Using Index</font>

In [ ]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
}, index=[0,1,2])
temperature_df

In [ ]:
windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7,12],
}, index=[1,0])
windspeed_df

In [ ]:
df = pd.concat([temperature_df,windspeed_df],axis=1)
df

## <font color='blue'>Concatenate dataframe with series</font>

In [ ]:
s = pd.Series(["Humid","Dry","Rain"], name="event")
s

In [ ]:
df = pd.concat([temperature_df,s],axis=1)
df

# <font color="OLIVE"><h3 align="center">8.Pandas Pivot table</h3></font>

<h1 style="color:blue">Pivot basics</h1>

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv("weather.csv")
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [ ]:
df.pivot(index='city',columns='date')

In [ ]:
df.pivot(index='city',columns='date',values="humidity")

In [ ]:
df.pivot(index='date',columns='city',values='humidity')

In [ ]:
df.pivot(index='humidity',columns='city')

<h1 style="color:blue">Pivot Table</h1>

In [ ]:
df.pivot_table(index="city",columns="date")

<h2 style="color:brown">Grouper</h2>

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [10]:
df.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

             humidity                     temperature
city          beijing     mumbai new york     beijing     mumbai   new york
date
2017-05-31  30.333333  82.666667     58.0   78.666667  78.333333  66.333333

# <font color="PURPLE"><h3 align="center">9.Pandas Crosstab </h3></font>

In [ ]:
import pandas as pd
df = pd.read_excel("survey.xls")
df

In [ ]:
pd.crosstab(df.Nationality,df.Handedness)

In [ ]:
pd.crosstab(df.Sex,df.Handedness)

<h2 style="color:purple">Margins</h2>

In [ ]:
pd.crosstab(df.Sex,df.Handedness, margins=True)

<h2 style="color:purple">Multi Index Column and Rows</h2>

In [ ]:
pd.crosstab(df.Sex, [df.Handedness,df.Nationality], margins=True)

### <font color="OLIVE"><h3 align="center">Read Write Database(Sql) using DataFrame</h3></font>

In [1]:
import pandas as pd

Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(Cars, columns= ['Brand', 'Price'])
print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('TestDB1.db')
c = conn.cursor()

In [4]:
c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

In [5]:
df.to_sql('CARS', conn, if_exists='replace', index = False)

In [6]:
database = 'TestDB1.db'

conn = sqlite3.connect(database)
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
print("Conection SuccessFull",conn)

Conection SuccessFull <sqlite3.Connection object at 0x0000014BB7DBC110>

In [7]:
df = pd.read_sql_query("SELECT * FROM CARS", conn)
df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000